--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu128

torch
torchvision
torchaudio

transformers
accelerate
bitsandbytes
sentencepiece
safetensors
pydantic
python-docx
huggingface_hub
tzdata
pandas
numpy
openpyxl
scikit-learn
joblib
catboost